@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Yanone Kaffeesatz";
  color: white;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  background-color: #190128;
}

@layer components {
  .viewport {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
  }
  
  .parallax {
    background-size: contain;
    box-sizing: border-box;
    width: 100%;
    height: 110vh;
    margin-bottom: -110vh;
  }
  
  .bottom {
    background-color: #190128;
    height: 500px;
  }  
}