/* @tailwind base;
@tailwind components;
@tailwind utilities; */

$persp: 100;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Yanone Kaffeesatz";
  color: white;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  background: left url("/img/mta-landing-hero-01.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #ffead7;
}

.viewport {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.parallax {
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  height: 130vh;
  /* Since the parallax elements still consume space, we set the margin to undo
     the height of this parallax element making it essentially consume 0 space.
  */
  margin-bottom: -130vh;
}

.header {
  height: 70vh;
}

.parallax.header {
  margin-bottom: -70vh;
}

$layer_count: 9;

@for $layer from 1 through $layer_count {
  // add 1 because z_pos = 0 is reserved for the cover
  .layer#{$layer} {
    background-image: url(/img/mta-landing-hero-0#{$layer}.svg);
  }
}

// .parallax {
//   perspective: #{$persp + "px"};
//   // perspective-origin: center 155%;
//   // perspective-origin: center;
//   overflow-x: hidden;
//   overflow-y: auto;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: 100vh;
//   width: 100vw;
//   // margin-left: -1100px;
//   transform-style: preserve-3d;
// }

// .parallax__layer {
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   min-height: 1650px;
//   transform-style: preserve-3d;

//   img {
//     display: block;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     width: 100vw;
//     min-height: 1650px;
//     object-fit: fill;
//     border: 1px solid red;
//     // width: 100vw;
//   }
//   div {
//     transform-style: preserve-3d;
//   }
// }

// .parallax__cover {
//   position: absolute;
//   display: block;
//   top: 100%;
//   z-index: 2;
//   height: 5000px;
//   left: 0;
//   right: 0;
//   // bottom: 0;
//   padding: 20px;
//   p {
//     display: block;
//     color: white;
//   }
// }

// $layer_count: 12;
// $layer_spacing: 100;

// @for $layer from 1 through $layer_count {
//   // add 1 because z_pos = 0 is reserved for the cover
//   $z_pos: $layer_count - $layer + 1;
//   $scale: 1 + calc($z_pos * $layer_spacing / $persp);
//   .parallax__layer__#{$layer} {
//     transform: translateZ(#{(-$z_pos * $layer_spacing) + "px"})
//       translateY(#{$layer * 50 + "px"})
//       scale($scale);
//   }
// }

// .parallax__layer__1 {
//   img {
//     top: 0;
//   }
// }
