@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Yanone Kaffeesatz";
  color: white;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  background-color: #190128;
  overflow: hidden;
}

@keyframes coverFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

#cover {
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #190128;
}

body.loaded #cover {
  animation: 1s ease-out 1s 1 coverFadeOut;
  animation-fill-mode: forwards;
}

@layer components {
  .viewport {
    display: block;
    height: 125vh;
    min-height: 70vw;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    position: relative;
    -webkit-overflow-scrolling: touch;
  }

  .parallax {
    background-size: cover;
    position: absolute;
    top: 0;
    background-position: center;
    box-sizing: border-box;
    width: 100%;
    min-height: 70vw;
    height: 125vh;
  }

  @font-face {
    font-family: Quattrocento;
    src: url(/fonts/Quattrocento-Bold.ttf);
  }

  #hero {
    font-family: Quattrocento, serif;
    font-weight: 700;
  }

  .bottom {
    background-color: #190128;
    height: 50vw;
  }

  img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
  }
}

@media all and (max-width: 1500px) {
  .viewport {
    height: 123vh;
  }
  .parallax {
    height: 123vh;
  }
}

@media all and (max-width: 1300px) {
  .bottom {
    height: 65vh;
  }
}

@media all and (max-width: 767px) {
  .bottom {
    height: 70vh;
  }

  img {
    object-position: 46% top;
  }
}

@media all and (max-width: 500px) {
  .viewport {
    height: 90vh;
  }
  .parallax {
    height: 90vh;
  }
  .bottom {
    height: 30vh;
  }

  img {
    object-position: 60% top;
  }
}

@media all and (max-width: 330px) {
  .viewport {
    height: 105vh;
  }
  .parallax {
    height: 105vh;
  }
  .bottom {
    height: 50vh;
  }
}
